@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

a,
a:hover,
a:focus{
    text-decoration: none;
}

.logo {
    background: url("../images/rosie.jpg") no-repeat center;
    background-size: contain;
    min-height: 360px;
}

.bg_color_name_title {
    background-color: #676767;
    padding-left: 40px;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.menu_item {
    min-height: 123px;
    text-align:center;
    padding-top: 30px;
}

.menu_item * {
    color: #fff;
    display: block;
}

.menu_item span {
    margin-top: 10px;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}

.ui_menu_color_home {
    background-color: #e67e22;
}

.ui_menu_color_resume {
    background-color: #9b59b6;
}

.ui_menu_color_contact {
    background-color: #3498db;
}

.ui_menu_color_dl {
    background-color: #525252;
}

.hvr-rectangle-out:before {
    background-color: rgba(0,0,0, 0.2)
}